{% extends "home.html" %}

{% load i18n %}

{% block main %}
        <h1 class="my-4">
            {% translate "Labels" %}
        </h1>
        <a href="/labels/create/">
            <button class="btn btn-primary">{% translate "Create label" %}</button>
        </a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% translate "ID" %}</th>
                    <th>{% translate "Label name" %}</th>
                    <th>{% translate "Created date" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for label in labels %}
                <tr>
                    <td>{{ label.id }}</td>
                    <td>{{ label.name }}</td>
                    <td>{{ label.created_at|date:'d.m.Y H:i' }}</td>
                    <td>
                        <a href="{% url "label_update" label.id %}">{% translate "Edit" %}</a>
                        <br>
                        <a href="{% url "label_delete" label.id %}">{% translate "Delete" %}</a>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endblock %}