{% extends "home.html" %}

{% load i18n %}

{% block main %}
    <div class="container wrapper flex-grow-1">
        <h1 class="my-4">
            {% translate "Users" %}
        </h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% translate "ID" %}</th>
                    <th>{% translate "Nic name" %}</th>
                    <th>{% translate "Full name" %}</th>
                    <th>{% translate "Created date" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.created_at|date:'d.m.Y H:i' }}</td>
                    <td>
                        <a href="/users/{{ user.id }}/update/">{% translate "Edit" %}</a>
                        <br>
                        <form action="{% url 'user_delete' user.id %}" method="post">
                            {% csrf_token %}
                            <input class="btn btn-link" type="submit" value={% translate "Remove" %}>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}