{% extends "home.html" %}

{% load i18n %}

{% block main %}
    <div class="container wrapper flex-grow-1">
        <h1 class="my-4">
            {% translate "Users" %}
        </h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% translate "ID" %}</th>
                    <th>{% translate "Nic name" %}</th>
                    <th>{% translate "Full name" %}</th>
                    <th>{% translate "Created date" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name }} {{ user.last_name }}</td>
                    <td>{{ user.created_at|date:'d.m.Y H:i' }}</td>
                    <td>
                        <a href="/users/1/update/">{% translate "Edit" %}</a>
                        <br>
                        <a href="/users/1/delete/">{% translate "Remove" %}</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}