{% extends "home.html" %}

{% load i18n %}

{% block main %}
    <div class="container wrapper flex-grow-1">
        <h1 class="my-4">
            {% translate "Users" %}
        </h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>{% translate "ID" %}</th>
                    <th>{% translate "First name" %}</th>
                    <th>{% translate "Last name" %}</th>
                    <th>{% translate "Created date" %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>ФИО</td>
                    <td>Имя изм Фамилия</td>
                    <td>27.01.2025 10:31</td>
                    <td>
                        <a href="/users/1/update/">{% translate "Edit" %}</a>
                        <br>
                        <a href="/users/1/delete/">{% translate "Remove" %}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}