{% extends "home.html" %}
{% load django_bootstrap5 %}

{% load i18n %}

{% block main %}
        <h1 class="my-4"> {% translate "Editing user" %} </h1>
        <form action="{% url "user_update" pk=user.id %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div>
                <a href="{% url 'user_update_password' user.id %}">{% translate "Change password" %}</a>
            </div>
            <input class="btn btn-primary mt-3" type="submit" value="{% translate 'Change' %}">
        </form>
{% endblock %}