{% extends 'index.html' %}

{% load django_bootstrap5 %}
{% load i18n %}

{% block main %}
    <h1 class="my-4"> </h1>
    <h1 class="my-4"> </h1>
    <div class="card">
        <div class="card-body p-5 bg-light">
            <div class="display-4">{% translate "Welcome to the task manager" %}</div>
            <p class="lead">{% translate "This is need for manage user's tasks" %}</p>
            <hr>
            <a class="btn btn-primary btn-lg" href="https://github.com/nic11371/python-project-52">{% translate "To know is large" %}</a>
        </div>
    </div>
{% endblock %}