<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
{% bootstrap_setting "color_mode" as COLOR_MODE %}
{% bootstrap_setting "javascript_in_head" as BOOTSTRAP_JAVASCRIPT_IN_HEAD %}
{% load i18n %}
<html lang="{{ LANGUAGE_CODE|default:'en_us' }}"{% if COLOR_MODE %} data-bs-theme="{{ COLOR_MODE }}"{% endif %}>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Page title -->
    <title>{% block bootstrap5_title %}django-bootstrap5 template title{% endblock %}</title>
    <!-- Bootstrap CSS -->
    {% bootstrap_css %}
    <!-- Bootstrap JavaScript if it is in head -->
    {% if BOOTSTRAP_JAVASCRIPT_IN_HEAD %}{% bootstrap_javascript %}{% endif %}

    {% block bootstrap5_extra_head %}{% endblock %}
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark px-3">
        {% block navbar %}
                <div class="navbarNav">
                    <ul class="navbar-nav">
                        <li calls="nav-item">
                            <a class="nav-link" href="/articles/">Статьи</a>
                        </li>    
                    </ul>    
                </div>
        {% endblock %}
    </nav>
    <div id="sidebar">
        {% block sidebar %}
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/articles/">Статьи</a></li>
                <li><a href="/about/">О блоге</a></li>
            </ul>
        {% endblock %}
    </div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    </body>
    </html>